
.product-box{
    text-align: center;
    padding:20px;
    transition: background 0.5s ease-in;
    border-radius:30px;
}

.product-box.selected{
    background-color: #333;
    /*background-image: url(https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQedtoWVFk_7A4npWSQr-0efB8H5YrOwjuHBrM91uJZ9oms7JJQ);
    transition: background 1s ease-in;*/
}

.footer {
    /* Set the fixed height of the footer here */
    height: 60px;
    margin-top:40px;
    padding:20px;
    background-color: #f5f5f5;
}

.header {
    /* Set the fixed height of the footer here */
    height: 80px;
    margin-top:40px;
    padding:20px;
    background-image: url(https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQedtoWVFk_7A4npWSQr-0efB8H5YrOwjuHBrM91uJZ9oms7JJQ);
    border-radius: 20px 0px 20px 0px;
    text-align: center;
    color: white;
    text-decoration: underline;
}

.cos{
    background-color: #CCCCCC;
}

.ventana{
    display: inline-block;
    margin-right: 40px;
    color: yellow;
    font-size: 30px;
    border-style: dotted;
    padding: 5px;
    background-color: black;
    border-radius: 10px 0px 10px 0px;
}

.menu{
    margin-top: 50px;
    padding: 10px;
    background-image: url(https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQedtoWVFk_7A4npWSQr-0efB8H5YrOwjuHBrM91uJZ9oms7JJQ);
    border-radius: 20px 0px 20px 0px;
}
