.imagen{
	float: left;
	width: 300px;
	height: auto;
	color: yellow;
	}

.ventana{
	display: inline-block;
	margin-right: 40px;
	color: yellow;
	font-size: 30px;
	border-style: dotted;
	padding: 5px;
	background-color: black;
	border-radius: 10px 0px 10px 0px;
}
.menu{
	padding: 10px;
	background-color: rgb(50, 50, 50);
	border-radius: 20px 0px 20px 0px;
}

.s{
	display: block;
}

body {
    background-image: url(https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQedtoWVFk_7A4npWSQr-0efB8H5YrOwjuHBrM91uJZ9oms7JJQ);
    color: rgb(255, 255, 255);
}

#contenedor{
	margin: 0 auto;

}

h1{
	text-align: center;
	color: white;
	font-size: 90px;
	line-height: 35px;
	text-decoration: underline;
}
h2{
	text-align: center;
	color: white;
	line-height: 35px;
}
h3{
	color: white;
	text-decoration: underline;

}

img{
	border-radius: 30px 0px 30px 0px;
	width:50%;
	height:50%; 
}


